<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,700" rel="stylesheet">
  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/gh/michalsnik/aos@2.1.1/dist/aos.js"></script>
  </body>
</html>